@import '../utils' ;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 40px;
  margin-inline: auto;
  width: min(100% - 40px, 1024px);
  padding-inline: 20px;
  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  &__header {
    background-color: blue;
  }
  &__main,
  &__aside {
    padding: 40px;
  }

  &__main {
    background-color: rgb(0, 255, 68);
  }
  &__aside {
    background-color: rgb(255, 0, 0);
    @include breakpoint-down(medium) {
      text-align: center;
    }
  }
}
